html {
  background-color: #EEE5DE;
  text-align: center;
}

.layer {
  background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
}

h1 {
  margin-top: 40px;
  color: rgba(50, 50, 50, 0.5);
  text-align: center;
}

.board {
  margin: 20px auto;
}

.grid {
  display: inline-block;
  background-color: #EEE5DE;
  width: 140px;
  height: 140px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 2px;
}

button {
  height: 40px;
  width: 70px;
  border-radius: 3px;
  border: 1px solid #263D42;
  background-color: #EEE5DE;
  color: #263D42;
  font-size: 0.9em;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
}
